name: Deliver React Build

on:
  push:
    branches:
      - master
  workflow_dispatch:


jobs:
  deliver:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '20'
      - name: Install Dependencies
        run: npm install
      - name: Run Build
        run: npm run build
      - name: Setup Agent
        uses: webfactory/ssh-agent@0.9
        with:
          ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
      
      